# 基于Spark2.x + jupyter 的Pyspark 数据分析

### 导入pyspark 包

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("SparkSessionExample").master("local[3]").getOrCreate()

In [3]:
type(spark)

pyspark.sql.session.SparkSession

In [4]:
# 如何使用
spark?

In [5]:
## 查看远吗
spark??

## 读取spark dataframe

In [8]:
df = spark.read.csv('flights.csv',header=True,inferSchema=True)

In [9]:
df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: integer (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)

In [10]:
df.show(10,truncate=False)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|1    |1  |1       |96       |235     |70       |AS     |N508AS |145   |PDX   |ANC |194     |1542    |0   |1     |
|2014|1    |1  |4       |-6       |738     |-23      |US     |N195UW |1830  |SEA   |CLT |252     |2279    |0   |4     |
|2014|1    |1  |8       |13       |548     |-4       |UA     |N37422 |1609  |PDX   |IAH |201     |1825    |0   |8     |
|2014|1    |1  |28      |-2       |800     |-23      |US     |N547UW |466   |PDX   |CLT |251     |2282    |0   |28    |
|2014|1    |1  |34      |44       |325     |43       |AS     |N762AS |121   |SEA   |ANC |201     |1448    |0   |34    |
|2014|1    |1  |37      |82       |747     |88       |DL     |N806DN |1823  |SEA   |DTW |224     |1927    |0   |37    |
|2014|1    |1  |346     |227      |936     |219      |UA     |N14219 |1481  |SEA   |ORD |202     |1721    |3   |46    |
|2014|1    |1  |526     |-4       |1148    |15       |UA     |N813UA |229   |PDX   |IAH |217     |1825    |5   |26    |
|2014|1    |1  |527     |7        |917     |24       |UA     |N75433 |1576  |SEA   |DEN |136     |1024    |5   |27    |
|2014|1    |1  |536     |1        |1334    |-6       |UA     |N574UA |478   |SEA   |EWR |268     |2402    |5   |36    |
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 10 rows

### 4.缓存数据

In [11]:
# 直接将内存放在
df.cache()

DataFrame[year: int, month: int, day: int, dep_time: string, dep_delay: string, arr_time: string, arr_delay: string, carrier: string, tailnum: string, flight: int, origin: string, dest: string, air_time: string, distance: int, hour: string, minute: string]

In [12]:
df.count()

52535

In [13]:
# 获取列名称

df.columns

['year',
 'month',
 'day',
 'dep_time',
 'dep_delay',
 'arr_time',
 'arr_delay',
 'carrier',
 'tailnum',
 'flight',
 'origin',
 'dest',
 'air_time',
 'distance',
 'hour',
 'minute']

In [14]:
# 显示sechma
df.schema

StructType(List(StructField(year,IntegerType,true),StructField(month,IntegerType,true),StructField(day,IntegerType,true),StructField(dep_time,StringType,true),StructField(dep_delay,StringType,true),StructField(arr_time,StringType,true),StructField(arr_delay,StringType,true),StructField(carrier,StringType,true),StructField(tailnum,StringType,true),StructField(flight,IntegerType,true),StructField(origin,StringType,true),StructField(dest,StringType,true),StructField(air_time,StringType,true),StructField(distance,IntegerType,true),StructField(hour,StringType,true),StructField(minute,StringType,true)))

In [16]:
df.select(df['tailnum'],df['dest'],df['dest'],df['dep_time']).show()

+-------+----+----+--------+
|tailnum|dest|dest|dep_time|
+-------+----+----+--------+
| N508AS| ANC| ANC|       1|
| N195UW| CLT| CLT|       4|
| N37422| IAH| IAH|       8|
| N547UW| CLT| CLT|      28|
| N762AS| ANC| ANC|      34|
| N806DN| DTW| DTW|      37|
| N14219| ORD| ORD|     346|
| N813UA| IAH| IAH|     526|
| N75433| DEN| DEN|     527|
| N574UA| EWR| EWR|     536|
| N36476| DEN| DEN|     541|
| N548UW| PHX| PHX|     549|
| N660DL| SLC| SLC|     550|
| N3JLAA| DFW| DFW|     557|
| N562AS| ANC| ANC|     557|
| N402AS| SJC| SJC|     558|
| N210FR| DEN| DEN|     559|
| N3JFAA| ORD| ORD|     600|
| N786AS| LAX| LAX|     600|
| N201FR| DEN| DEN|     602|
+-------+----+----+--------+
only showing top 20 rows

In [18]:
df.filter(df['dest']=='JFK').select(df['tailnum'],df['dest'],df['dest'],df['dep_time']).show()

+-------+----+----+--------+
|tailnum|dest|dest|dep_time|
+-------+----+----+--------+
| N686DA| JFK| JFK|     654|
| N3DNAA| JFK| JFK|     708|
| N3772H| JFK| JFK|     708|
| N635JB| JFK| JFK|    2130|
| N727TW| JFK| JFK|    2312|
| N593JB| JFK| JFK|    2324|
| N379DA| JFK| JFK|      14|
| N705TW| JFK| JFK|      55|
| N630JB| JFK| JFK|     158|
| N703TW| JFK| JFK|     659|
| N3748Y| JFK| JFK|     704|
| N3CYAA| JFK| JFK|     719|
| N717TW| JFK| JFK|    1435|
| N635JB| JFK| JFK|    2307|
| N372DA| JFK| JFK|     707|
| N718TW| JFK| JFK|     708|
| N3EEAA| JFK| JFK|      NA|
| N537JB| JFK| JFK|      NA|
| N625JB| JFK| JFK|      NA|
| N722TW| JFK| JFK|      NA|
+-------+----+----+--------+
only showing top 20 rows

In [22]:
daily_count = df.groupBy(df.day).agg({'arr_delay':'mean','dep_delay':'mean'})
daily_count.show()

+---+-------------------+------------------+
|day|     avg(arr_delay)|    avg(dep_delay)|
+---+-------------------+------------------+
| 31|  5.796638655462185| 6.382229673093042|
| 28|-3.4050632911392404| 4.110270951480781|
| 26|-1.5248683440608544| 4.833430742255991|
| 27| -4.354777070063694| 4.864126984126984|
| 12| 3.4215626892792246|  8.09437386569873|
| 22|-1.0817571690054912|  6.10231425091352|
|  1|  2.139888494678155| 6.820577800304106|
| 13|  1.419454770755886| 5.684177997527812|
|  6| 3.1785932721712538| 7.075045759609518|
| 16|0.31582125603864736|4.2917420132610005|
|  3|  5.629350893697084|11.526241799437676|
| 20|  4.462529274004684| 8.391228070175439|
|  5|   4.42015503875969| 8.219989696032973|
| 19| 2.8462462462462463| 7.208383233532934|
| 15| 1.0819155639571518| 4.818353236957888|
|  9| 1.1156626506024097| 5.931407942238267|
| 17| 1.8664688427299703| 5.873815165876778|
|  4|  3.204905467552376|   9.6158940397351|
|  8|   0.52455919395466| 4.555904522613066|
| 23|  2.352836879432624| 6.307105108631826|
+---+-------------------+------------------+
only showing top 20 rows

In [25]:
daily_count.withColumnRenamed('avg(arr_delay)','avg_arr_delay')\
.withColumnRenamed('avg(dep_delay)','avg_dep_delay').show()

+---+-------------------+------------------+
|day|      avg_arr_delay|     avg_dep_delay|
+---+-------------------+------------------+
| 31|  5.796638655462185| 6.382229673093042|
| 28|-3.4050632911392404| 4.110270951480781|
| 26|-1.5248683440608544| 4.833430742255991|
| 27| -4.354777070063694| 4.864126984126984|
| 12| 3.4215626892792246|  8.09437386569873|
| 22|-1.0817571690054912|  6.10231425091352|
|  1|  2.139888494678155| 6.820577800304106|
| 13|  1.419454770755886| 5.684177997527812|
|  6| 3.1785932721712538| 7.075045759609518|
| 16|0.31582125603864736|4.2917420132610005|
|  3|  5.629350893697084|11.526241799437676|
| 20|  4.462529274004684| 8.391228070175439|
|  5|   4.42015503875969| 8.219989696032973|
| 19| 2.8462462462462463| 7.208383233532934|
| 15| 1.0819155639571518| 4.818353236957888|
|  9| 1.1156626506024097| 5.931407942238267|
| 17| 1.8664688427299703| 5.873815165876778|
|  4|  3.204905467552376|   9.6158940397351|
|  8|   0.52455919395466| 4.555904522613066|
| 23|  2.352836879432624| 6.307105108631826|
+---+-------------------+------------------+
only showing top 20 rows

### 5.基于SQL对Dataframe数据分析

a.第一步将DataFrame注册为临时视图

In [26]:
df.createOrReplaceTempView('view_tmp_flights')

In [27]:
# b .第二部构建SQL
sql = 'select dest,arr_delay from view_tmp_flights'
spark_dest_df = spark.sql(sql)
spark_dest_df.show()

+----+---------+
|dest|arr_delay|
+----+---------+
| ANC|       70|
| CLT|      -23|
| IAH|       -4|
| CLT|      -23|
| ANC|       43|
| DTW|       88|
| ORD|      219|
| IAH|       15|
| DEN|       24|
| EWR|       -6|
| DEN|        4|
| PHX|       12|
| SLC|      -12|
| DFW|      -16|
| ANC|      -25|
| SJC|       -2|
| DEN|       -9|
| ORD|      -19|
| LAX|       -8|
| DEN|        5|
+----+---------+
only showing top 20 rows

### 6. 将SparkSQL中的DataFrame转换成Pandas

In [28]:
local_pandas = daily_count.toPandas()

In [29]:
local_pandas.head()

   day  avg(arr_delay)  avg(dep_delay)
0   31        5.796639        6.382230
1   28       -3.405063        4.110271
2   26       -1.524868        4.833431
3   27       -4.354777        4.864127
4   12        3.421563        8.094374